.grid-item {
    width: 200px;
    display: inline-table;
}

form.musicsearch {
    margin: 10px;
}

label.artist-search-label {
    font-size: 20px;
    margin-bottom: 5px; 
}

input[type="search"] {
    padding: 10px;
    font-size: 20px;
    display: inherit;
    margin: 0px auto;
    height: 30px;
}

button {
    margin-top: 10px;
}

.error-message {
    margin-bottom: 5px;
}

@media (max-width: 750px) {
    label.artist-search-label {
        display: inherit;
    }
    
    form.musicsearch {
        margin: 20px;
        text-align: center;
        align-items: center;
    }
    input[type="search"] {
        width: 60%;
    }
}

@media (max-width: 450px) {
    /*Search Form*/
    form.musicsearch {
        margin: 0px auto;
    }
    label.artist-search-label {
        font-size: 28px;
    }
    input[type="search"] {
        height: 30px;
        font-size: 30px;
        border-style: solid;
        margin-bottom: 10px;
    }
    .search-button {
        margin-bottom: 10px;
    }
    /*Search Results*/
    .grid-item {
        width: 90%;
    }
    .front {
        width: 90%;
    }
    .flip-container {
        margin: 0px auto;
    }
    .front {
        width: 300px;
    }
}