section.login-form-section {
    background-color: gray;
    text-align: center;
    padding-bottom: 30px;
}

label {
    display: inherit;
}

input[type=text],input[type=password], select {
    width: 400px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    width: 100px;
    border: none;
    background: #0F1626;
    color: #f5f5f5;
    font-size: 20px;
}

input[type=submit] {
    width: 300px;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 0px auto;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: inherit;
}

input[type=submit]:hover {
    background-color: #45a049;
}

form.login-form {
    margin: 30px 0px 30px 0px;
    text-align: center;
}