.how-to {
    color: #0F1626;
    background-color: #f5f5f5;
    padding: 20px;
}

h2 {
    text-align: left;
}

img.big-screenshot {
    width: 100%;
}

section {
    text-align: left;
}

section.demo-credentials {
    text-align: center;
    margin: 0px auto;
    border-style: solid;
    border-width: 5px;
    border-right: none;
    border-left: none;
    border-color: #0e1627;
    margin-top: 20px;
}

span.credentials-label {
    font-weight: bold;
    font-size: 18px;
}


.screenshot {
    width: 200px;
}

.directions {
    text-align: center;
}