.how-to {
    color: #0F1626;
    background-color: #f5f5f5;
    padding: 20px;
}

h2 {
    text-align: left;
}

section {
    text-align: left;
}

.screenshot {
    width: 200px;
}

.directions {
    text-align: center;
}