

.container {
  width: 80%;
  margin: 0% auto;
}

header {
  background-color: #0F1626;
  color: #f5f5f5;
  padding-top: 10px;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

img.logo {
  width: 300px;
  float: left;
  margin-top: 20px;
  padding: 10px 0;
}

nav {
  float: right;
  margin-bottom: 10px;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li { 
  display: inline-block;
  margin-left: 35px;
  padding-top: 10px;
  position: relative;
}

nav a {
  color: #f5f5f5;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: #ff533d; 
}

nav a::before {
  content: '';
  display: block;
  height: 10px;
  width: 0%;
  background-color: #ff533d;
  position: absolute;
  top: 0;
  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

@media screen and (max-width: 750px) {
  nav li {
    display: inherit;
  }
  nav {
      width: 100%;
  }
}

@media (max-width: 450px) {
  img.logo {
      width: 80%;
  }
  nav li {
    display: inherit;
  }
  nav {
      width: 100%;
  } 
  nav a {
    font-size: 20px;
    margin: 0px;
  }
}