body {
    background-color: #f5f5f5
}

.grid-item {
    width: 200px;
    display: inline-table;
}

form.musicsearch {
    display: inline-block;
    margin: 0px auto;
    align-items: center;
    text-align: center;
    margin: 10px;
}

.search-section {
    text-align: center;
}

strong {
    display: inherit;
}

h1 {
    text-align: left;
}

@media screen and (min-width: 800px) {
    main {
        width: 1000px;
        margin: 0px auto;
    }
  }