html {
    background-color: #f5f5f5
}

div#root {
    width: 80%;
    margin: 0px auto;
} 

body {
    background-color: #f5f5f5
}

form.musicsearch {
    margin: 10px;
}

.search-section {
    text-align: center;
}

strong {
    display: inherit;
}

h1 {
    text-align: left;
}



@media screen and (min-width: 800px) {
    main {
        margin: 0px auto;
    }

}

@media screen and (max-width: 800px) {
    div#root {
        width: 100%;
        margin: 0px auto;
    } 
    .form-label {
        font-size: 20px;
    }
    input[type=text], input[type=password], select {
        width: 90%;
    }
}