footer {
    position: relative;
    background-color: #0F1626;
    bottom: 0;
    width: 100%;
}
  
footer > h2 {
    margin-top: 0px;
    text-align: center;
}

.footer-content-1 {
    align-content: center;
    text-align: center;
    padding: 30px 0px 30px 0px;
}

img.round-logo {
    width: 100px;
}